.paginator {
    margin: 10px;
    height: 35px;
    display: flex;
    align-items: center;
}

.numbersBlock {
    display: flex;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
}

.pageNumber {
    border-top: 1px solid #d7d8db;
    border-left: 1px solid #d7d8db;
    border-bottom: 1px solid #d7d8db;
    cursor: pointer;
    width: auto;
    height: 30px;
    font-size: 0.8em;
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
}

.pageNumber:last-child {
    border-right: 1px solid #d7d8db;
}

.selectedPage {
    cursor: pointer;
    width: auto;
    height: 30px;
    font-size: 0.85em;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    background-color: #418ccb;
    color: white;
    display: flex;
    align-items: center;
}

.pageNumber:hover {
    background-color: #f4f2ec;
}

.nextButton {
    width: 25px;
    display: flex;
    align-items: center;
    outline: none;
}

.prevButton {
    width: 25px;
    display: flex;
    align-items: center;
    outline: none;
    transform: rotate(180deg)
}