.userPhoto {
    width: 90px;
    border-radius: 50%;
}

.usersList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.user:nth-child(odd) {
    border-right: 1px solid #e7e8e9;
}

.user:last-child, .user:nth-child(15) {
    border-bottom: 0;
}

.user {
    width: 50%;
    border-bottom: 1px solid #e7e8e9;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 140px;
}

.userInfo {
    width: 100%;
    padding-left: 20px;
}

.userNameAndStatus {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 10px;
}

.followButtons {
    display: flex;
    justify-content: flex-end;
}

.userName {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #585858;
    line-height: 20px;
    padding-bottom: 5px;
    font-size: 1em;
}

.userStatus {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #848484;
    line-height: 18px;
    font-size: 0.89em;
}

.followButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 75px;
    height: 28px;
    font-size: 0.89em;
    border-radius: 15px;
    outline: none;
    transition: 0.08s linear;
}

.unfollowButton {
    background-color: #FF0000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 75px;
    height: 28px;
    font-size: 0.89em;
    border-radius: 15px;
    outline: none;
    transition: 0.08s linear;
}

.followButton:hover {
    background-color: #088A29;
}

.followButton:active {
    background-color: #0B610B;
}

.unfollowButton:hover {
    background-color: #B40404;
}

.unfollowButton:active {
    background-color: #8A0808;
}

.socialNetworks {
    width: 70px;
    display: flex;
    justify-content: space-between;
    color: #848484;
}

.paginatorContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}