.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.logo {
    width: 105px;
}

.ava {
    border-radius: 50%;
    width: 37px;
    margin-right: 10px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.userInfo {
    display: flex;
    align-items: center;
}