.contact {
    padding-left: 10px;
}

.userInfo {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background-color: white;
    border-radius: 2px;
    width: 100%;
    overflow: hidden;
}

.photoNameAndStatus {
    border-bottom: 1px solid #d7d8db;
    background: url(../../../assets/images/clouds.svg);
    height: 250px;
    display: flex;
    align-items: center;
    position: relative;
}

.mainPhoto {
    display: block;
    border-radius: 50%;
    width: 220px;
    border: 6px solid white;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    margin-left: 40px;
}

.nameAndStatus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-left: 20px;
    width: 350px;
}

.nameAndStatus div:first-child {
    font-weight: 700;
    font-size: 2em;
    margin-top: 30px;
}

.nameAndStatus div:last-child {
    line-height: 23px;
    margin-top: 15px;
}

.nameAndStatus div:first-child, .nameAndStatus div:last-child {
    color: white;
    text-shadow: 1px 1px 5px #585858;
}

.uploadButton {
    position: absolute;
    z-index: 5;
    top: 190px;
    left: 200px;
    display: block;
    background: white;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.uploadButton:hover {
    background: #e3e4e8;
}

.uploadButton:active {
    background: #cccccc;
}

.uploadButton input {
    display: none;
}

.uploadButton label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

