header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #418ccb;
    margin-bottom: 20px;
    z-index: 100;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.container {
    width: 1000px;
    margin: auto;
}

.app-wrapper {
    display: grid;
    grid-template-columns: 150px 830px;
    grid-gap: 20px;
}

.navbar {
    position: sticky;
    top: 75px;
}





