header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #1DA1F2;
    margin-bottom: 20px;
    z-index: 100;
}

.container {
    width: 1000px;
    margin: auto;
}

.app-wrapper {
    display: grid;
    grid-template-columns: 200px 700px;
    grid-gap: 20px;
}

.navbar {
    position: sticky;
    top: 75px;
}





