.dialogs {
    display: grid;
    grid-template-areas: "u m" "u m" "u t";
    grid-template-rows: 1fr 1fr 80px;
    grid-template-columns: 250px 1fr;
    height: 80vh;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background: #fff;
    border-radius: 2px;
}

.dialogsItems {
    grid-area: u;
    overflow-y: auto;
    border-right: 1px solid #d7d8db;
}

.messages {
    grid-area: m;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.messageText {
    grid-area: t;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d7d8db;
}

.messageText form {
    display: flex;
}

.messageText form div {
    display: flex;
    align-items: center;
}

.messageText form div textarea {
    resize: none;
    border: 1px solid #d7d8db;
    border-radius: 5px;
    width: 350px;
    outline: none;
    font-size: 0.95em;
    overflow: auto;
    padding: 5px 10px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.messageText form button {
    border: 0;
    background-color: transparent;
    outline: none;
}

.sendButton {
    color: #BBBBBB;
    transition: 0.08s linear;
    cursor: pointer;
}

.sendButton i:hover {
    color: #A9A9A9;
}

.sendButton i:active {
    color: #848484;
}

p {
    max-width: 340px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 20px;
    position: relative;
    padding: 8px 16px;
    border-radius: 22px;
    margin-right: 15px;
}

p:before, p:after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 20px;
}

.fromMe {
    color: white;
    background: #7FB185;
    align-self: flex-end;
    font-size: 0.9em;
}

.fromMe:before {
    right: -7px;
    border-right: 20px solid #7FB185;
    border-bottom-left-radius: 16px 14px;
    transform: translate(0, -2px);
}

.fromMe:after {
    right: -56px;
    width: 26px;
    background: white;
    border-bottom-left-radius: 10px;
    transform: translate(-30px, -2px);
}

.dialog {
    border-bottom: 1px solid #d7d8db;
    height: 60px;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    cursor: pointer;
    transition: 0.03s linear;
}

.dialog:hover a {
    color: white;
}

.dialog:hover {
    background-color: #62A8E5;
}

.dialog img {
    width: 40px;
    border-radius: 50%;
}

.userName {
    margin-left: 15px;
}

.userName a {
    text-decoration: none;
    font-weight: 500;
    color: #585858;
    cursor: default;
    font-size: 0.98em;
}