.settingsContainer {
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    background: #fff;
    border-radius: 2px;
    padding: 30px 35px;
    margin-bottom: 50px;
}

.formContainer {
    width: 70%;
}

.settingsField, .settingsContactsField {
    display: flex;
    margin-bottom: 15px;
    color: #585858;
}

.settingsField [name="fullName"], .settingsField textarea, .settingsContactsField input {
    width: 100%;
    padding: 6px;
    border: 1px solid #d7d8db;
    border-radius: 5px;
}

.settingsField div:first-child, .settingsContactsField div:first-child {
    width: 50%;
}

.settingsField div:last-child, .settingsContactsField div:last-child {
    width: 50%;
}

.settingsTitle {
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 30px;
    border-bottom: 1px solid #d7d8db;
    padding-bottom: 8px;
}

.saveButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.saveButton button {
    background-color: #418CCB;
    border: 1px solid #d7d8db;
    padding: 10px 18px;
    color: white;
    outline: none;
    transition: 0.08s linear;
}

.saveButton button:hover {
    background-color: #4A76A8;
}

.saveButton button:active {
    background-color: #2F516D;
}

.saveStatus {
    border: 1px solid #4CAF50;
    padding: 10px 15px;
    text-align: center;
}
